.container {
    background: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
}


.error {
    text-align: center;
    color: crimson;
    font-weight: bold;
}


.gifs {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}

.gifs img {
    width: 100%;
}

.gifs button {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: transparent;
    flex-shrink: 0;
}
.gifs button:hover {
    background-color: #dedede;
}
.gifs button:focus {
    outline: none;
}
