.headerContainer {
    background: #5d016e;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    height: 50px;
    display: flex;
    align-items: center;
}

.icon {
    height: 100%;
}

.headerContainer button {
    border-radius: 4px;
    font-family: "Open Sans", sans-serif;
    color: #ffffff;
    font-size: 11px;
    background: #5d016e;
    padding: 5px;
    text-decoration: none;
    border: 0;
}

.headerContainer button:hover {
    text-decoration: underline;
}
.headerContainer button:focus {
    outline: none;
}

.powered {
    height: 40%;
    margin: 10px;
}
